body {
    background-image: url("../img/homepage/background.jpg");
    background-size: cover;
    background-position: center;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2C4264;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 2vh;
    margin-left: 2vh;
}

nav ul li a {
    color: white;
    text-decoration: none;
}



main {
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: "Merriweather", serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 3vh;
    color: rgb(232, 232, 238);
    margin: 0 !important;
    background: -webkit-linear-gradient(0deg, #5c5eff 10%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;  
}

h4 {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(157, 157, 163);
    font-size: 3vh;
    text-align: center;
    margin: 0 !important;
    background: rgba(65, 65, 68, 0.808);
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.301);
    border-radius: 10px;
}



/* Flexbox Layout */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Grid Layout */
.action-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}


a:hover {
    text-decoration: none;
    /* Remove underline */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Add box shadow */
    background-color: #3D5777;
    /* Change background color on hover */
    border: #3D5777 solid 1px;
    /* Add border on hover */
    border-radius: 5px;
    /* Add border radius */
    padding: 5px;
    /* Add padding */
}

a.active {
    text-decoration: none;
    /* Remove underline */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Add box shadow */
    background-color: #3D5777;
    /* Change background color on hover */
    border: #3D5777 solid 1px;
    /* Add border on hover */
    border-radius: 5px;
    /* Add border radius */
    padding: 5px;
    /* Add padding */
}


.float-container {
    overflow: hidden;
    /* Clearfix to contain floated elements */
}

.float-row {
    display: flex;
    /* Use flexbox to arrange items in a row */
}

.float-child {
    flex: 1;
    /* Each child takes an equal portion of the row */
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Adding shadow */
}

.float-child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensure the image covers the entire div */
}

img {
    max-width: 40%;
    /* Resize images to 50% of their original size */

    height: auto;
    /* Maintain aspect ratio */

    display: block;
    /* Remove extra space below image */
    margin: auto;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #cfcecea6;
    color: rgb(0, 0, 0);
    font-weight: normal;
    text-align: center;
    margin: 0 !important;
    letter-spacing: 2px;
    
}

#logo_caption{
    background-color: #cfcece28;
    color: rgb(0, 0, 0);
    font-weight: normal;
    text-align: center;
    margin: 0!important;
    /* padding-bottom: 20px; */
    letter-spacing: 2px;
}